<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<servlet>
		<servlet-name>estudante</servlet-name>
		<servlet-class>br.mdarte.exemplo.academico.server.EstudanteServiceImpl</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>controleacesso</servlet-name>
		<servlet-class>br.mdarte.exemplo.academico.server.ControleAcessoServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>estudante</servlet-name>
		<url-pattern>/sistemaacademicogwt/estudante</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>controleacesso</servlet-name>
		<url-pattern>/sistemaacademicogwt/controleacesso</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>SistemaAcademicoGWT.html</welcome-file>
	</welcome-file-list>

</web-app>
